.PopUpContainer {
  position: absolute;
  left: 35%;
  right: 35%;
  z-index: 100;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(198, 8, 8);
  min-width: 175px;
  opacity: 1;
  animation-delay: 3s;
  animation-duration: 0.5s;
  animation-name: fadeOut;
}

.PopUp {
  background-color: yellow;
  text-align: center;
  font-size: 1rem;
  margin: 2px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

@keyframes fadeOut {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}
