.ChessBoardContainer {
    background-color: purple;
    display: grid;
    width: 100%;
    height: 100%;
    /* fr = take up available space */
    grid-template-columns: repeat(8, 1fr);
    border: 1px white solid;
    min-width: 600px;
    min-height: 600px;
    /* overflow-x: scroll;
    overflow-y: scroll; */
}

.Tile {
    color: orange;
}