.logInContainer {
    position: fixed;
    margin-top: 60vh;
    height: 40vh;
    width: 100vw;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 4vmin);
    font-weight: bold;
}

.loginLabelContainer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.loginLabelContainer:hover {
    transform: scale(1.02);
}

.loginLabel {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 8px;
}

.loginLabel:hover {
    border-radius: 10%;
    border-color: white;
    border-style: solid;
    cursor: pointer;
    padding: 2px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 30vw;
    left: 35vw;
    margin-top: 1vh;
}

.loginForm input {
    height: 2vh;
    font-size: 0.4em;
    margin-bottom: 5px;
}